.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: white;
    width: 100vw;
    &__brand {
        grid-column: 2/5;
        margin-bottom: -2.5vh;
        margin-top: -2.5vh;
        &__container {
          display: flex;
          cursor: pointer;
          h4 {
            font-size: 3.5vh;
            margin-left: 1vw;
            }
        }
    }
}