.card__container {
  width: 290px;
  height: 550px;
  background: white;
}

.card__category {
  box-shadow: 0px 5px 25px rgba(78, 78, 78, 0.233);
  width: 280px;
  height: 520px;
  background-color: rgb(255, 255, 255);
  margin: auto;
}

.title__card {
  margin-top: 20px;
  margin-left: 22px;
  font-size: 22px;

  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle__card {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #4a4a4a;
  margin-left: 22px;
}

.orang {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 28px;

  color: #2b2b2b;
}
.harga {
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #ff385c;
  margin-left: 22px;
}
.card__category img {
  width: 100%;
  height: 300px;
}

.card__btn {
  width: 235px;
  height: 40px;
  background: #ff385c;
  text-align: center;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
  margin-left: 22px;
  border: none;
}

.card__btn:hover {
  font-size: 12px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
