.destinationbackground {
  background-color: white;
}

.filtercoloum {
  max-width: 275px;
  height: 1020px;
  margin-left: 120px;
  margin-top: 250px;
  border: 1px solid white;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 20px rgba(97, 97, 97, 0.07);
}
.semuatur {
  position: absolute;
  width: 286.75px;
  height: 42px;
  left: 120px;
  top: 130px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #4a4a4a;
}

.urutkan {
  position: absolute;
  width: 39px;
  height: 12px;
  right: 290px;
  top: 145px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #4a4a4a;
}

select {
  padding: 3px;
  color: #ff385c;
  width: 100px;
  height: 30px;
  left: 1175px;
  top: 135px;
  border-color: #ff385c;
  position: absolute;
  font-size: 11px !important;
}

.rectangledestination {
  height: 12px;
  width: 100px;
  background-color: #ff385c;
  margin-left: 0px;
  top: 212px;
  position: absolute;
}

.hr1 {
  position: absolute;
  width: 1200px;
  height: 0px;
  left: 120px;
  top: 208px;
  border: 1px solid #e3e3e3;
  height: 0px;
}

.filtericon {
  width: 27px;
  height: 27px;
  left: 122px;
  top: 260px;
  position: absolute;
}

.filterp {
  font-size: 22px;
  color: #ff385c;
  font-weight: bold;
  left: 160px;
  top: 257px;
  position: absolute;
}

.dropdown-check-list,
.temaperjalanan {
  display: inline-block;
  position: relative;
}

.dropdown-check-list .anchor,
.temaperjalanan .anchor,
.budgetperjalanan .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 50px 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ff385c;
  color: white;
  font-weight: 500;
  width: 274px;
  font-size: 14px;
  text-indent: 7px;
}

.dropdown-check-list .anchor:after,
.temaperjalanan .anchor:after,
.budgetperjalanan .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid white;
  border-top: 2px solid white;
  padding: 5px;
  right: 10px;
  top: 20%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list ul.items,
.temaperjalanan ul.items {
  list-style-type: none;
  text-indent: 7px;
  letter-spacing: 0.5px;
  font-size: 13px;
  position: absolute;
  font-weight: 500;
  display: table;
  line-height: 30px;
  color: #4a4a4a;
  left: -20px;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.temaperjalanan {
  margin-top: 80px;
}

.budgetperjalanan {
  margin-top: 140px;
}

.input-group-prepend,
.input-group-prepend2 {
  width: 45px;
  position: inline-block;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 25px;
}

.form-control {
  position: relative;
  height: 38px;
  margin-top: 15px;
  left: -25px;
}

::placeholder {
  font-size: 10px;
}

.searchicon {
  width: 24px;
  height: 24px;
}

.calendericon {
  width: 24px;
  height: 24px;
}

.form-group1 {
  width: 100px;
  position: absolute;
  left: 170px;
}

.form-group2 {
  width: 100px;
  position: absolute;
  left: 290px;
}

.durasirange {
  width: 225px;
  position: relative;
  top: 75px;
  left: 20px;
  appearance: none;
  height: 5px; /* Specified height */
  background: #ff385c; /* Grey background */
  outline: #ff385c; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
