.destination0 {
  margin: 110px 120px;
  margin-top: auto;
}

.underline {
  width: 100px;
  height: 8px;
  z-index: 1;
  margin-top: -23px;

  /* Main Color */

  background: #ff385c;
}

.garis2 {
  margin: 0 0 55px 0;
}

.destination1 {
  display: flex;
  margin: 50px 0px;
  justify-content: space-between;
}

.semuatur {
  height: 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #4a4a4a;
}

.urutkan1 {
  display: flex;
  align-items: baseline;
}

.urutkan {
  height: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #4a4a4a;
  margin-right: 20px;
}

select.pilihurutan {
  padding: 3px;
  color: #ff385c;
  height: 30px;
  border-color: #ff385c;
  font-size: 11px !important;
}

.kotakgaris {
  display: flex;
  justify-content: left;
}

.rectangledestination {
  height: 12px;
  width: 100px;
  background-color: #ff385c;
  display: flex;
  justify-content: left;
  margin-left: -1222px;
  margin-top: 5px;
}

.hr1 {
  display: flex;
  width: 1220px;
  height: 0px;
  border: 1px solid #e3e3e3;
  margin-left: 0px;
}

.destination2 {
  display: flex;
  justify-content: space-between;
}
.filter1 {
  padding-right: 20px;
}

/* .destinationCard1 {
} */

.pagination1 {
  display: flex;
  justify-content: flex-end;
}
