.destinationbackground {
  background-color: white;
}

.filtercoloum {
  max-width: 275px;
  height: 1140px;
  margin-left: 120px;
  margin-top: 250px;
  border: 1px solid white;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 20px rgba(97, 97, 97, 0.07);
}
.semuatur {
  position: absolute;
  width: 286.75px;
  height: 42px;
  left: 120px;
  top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: #4a4a4a;
}

.urutkan {
  position: absolute;
  width: 39px;
  height: 12px;
  right: 250px;
  top: 155px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #4a4a4a;
}

.rectangledestination {
  height: 12px;
  width: 90px;
  background-color: #ff385c;
  margin-left: 0px;
  top: 212px;
  position: absolute;
}

.hr1 {
  position: absolute;
  width: 1200px;
  height: 0px;
  left: 120px;
  top: 215px;
  border: 1px solid #e3e3e3;
  height: 0px;
}

.filtericon {
  width: 27px;
  height: 27px;
  left: 122px;
  top: 260px;
  position: absolute;
}

.filterp {
  font-size: 22px;
  color: #ff385c;
  font-weight: bold;
  left: 160px;
  top: 238px;
  position: absolute;
}

.tipeperjalanan {
  position: absolute;
  left: 140px;
  top: 320px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  color: #4d4d4d;
}

.filtericonbar {
  width: 36px;
  height: 35px;
  left: 350px;
  top: 331px;
  position: absolute;
}

.hr2 {
  position: absolute;
  width: 275px;
  left: 120px;
  top: 360px;
  border: 1px solid #e4e4e4;
  height: 0px;
}

.formcheck1 {
  position: absolute;
  left: 138px;
  top: 380px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  color: #4d4d4d;
  align-items: center;
}

.formcheck2 {
  position: absolute;
  left: 138px;
  top: 410px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  color: #4d4d4d;
  align-items: center;
}

.temaperjalanan {
  position: absolute;
  left: 140px;
  top: 450px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  color: #4d4d4d;
}

.filtericonbar1 {
  width: 36px;
  height: 35px;
  left: 350px;
  top: 460px;
  position: absolute;
}

.hr3 {
  position: absolute;
  width: 275px;
  left: 120px;
  top: 490px;
  border: 1px solid #e4e4e4;
  height: 0px;
}

.formcheck3 {
  position: absolute;
  left: 138px;
  top: 510px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  color: #4d4d4d;
  align-items: center;
}

.formcheck4 {
  position: absolute;
  left: 138px;
  top: 540px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  color: #4d4d4d;
  align-items: center;
}

.formcheck5 {
  position: absolute;
  left: 138px;
  top: 570px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  color: #4d4d4d;
  align-items: center;
}

.formcheck6 {
  position: absolute;
  left: 138px;
  top: 600px;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  color: #4d4d4d;
  align-items: center;
}

.budgetperjalanan {
  position: absolute;
  left: 140px;
  top: 630px;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  color: #4d4d4d;
}

.hr4 {
  position: absolute;
  width: 275px;
  left: 120px;
  top: 670px;
  border: 1px solid #e4e4e4;
  height: 0px;
}

.filtericonbar2 {
  width: 36px;
  height: 35px;
  left: 350px;
  top: 639px;
  position: absolute;
}
