@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.footer-atas {
  /*outline: 2px solid red;*/
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 370px;
  padding-top: 100px;
}

.logoFooter {
  /*position: absolute;*/
  /*width: 200px;*/
  height: 25px;
  left: 50px;
  bottom: 180px;
}
.logoFooter:hover {
  cursor: pointer;
}
.footer-company {
  margin: 0;
}

.h5-company {
  font-size: 20px;
  font-family: Inter;
  font-weight: 600;
  margin: 0 0 20px 0;
  font-weight: 600;
}

.li-company {
  list-style: none;
  font-family: Inter;
  padding: 10px;
  font-size: 16px;
}
.footer-appstore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img-appstore {
  display: flex;
}

.appstore {
  width: 140px;
  margin-right: 10px;
}

/*=========================*/

.footer-bawah {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0b0d17;
  height: 72px;
  /*outline: 2px solid yellow;*/
}

.footer-copyright {
  font-size: 14px;
  font-family: Inter;
  color: white;
  margin-bottom: 0px;
}

.footer-icon-social {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-instagram {
  /*position: absolute;*/

  right: 320px;
  bottom: 20px;
  width: 20px;
  height: 20px;
}

.footer-twitter {
  /*position: absolute;*/
  margin-left: 20px;
  right: 270px;
  bottom: 20px;
  width: 20px;
  height: 20px;
}

.footer-youtube {
  /*position: absolute;*/
  margin-left: 20px;
  right: 220px;
  bottom: 20px;
  width: 30px;
  height: 20px;
}
