@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*display: grid;*/
  /*grid-template-columns: repeat(12, 1fr);*/
  background-color: white;
  width: 100%;
  height: 70px;
  box-shadow: 0px 4px 15px rgba(115, 115, 115, 0.07);
}

.header__nav {
  grid-column: 2/5;
  margin-bottom: -2.5vh;
  margin-top: -2.5vh;
}

.header__nav__container {
  display: flex;

  /*padding: 38px 5px 35px 0px;*/
}

.header__nav__home {
  width: 60px;
  height: 38px;
  background: none;
  border: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.header__nav__home:hover {
  border-bottom: solid 3px orangered;
  cursor: pointer;
  font-size: 16px;
}

.header__nav__destination {
  width: 100px;
  height: 38px;
  background: none;
  border: none;

  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.header__nav__destination:hover {
  border-bottom: solid 3px orangered;
  cursor: pointer;
  font-size: 16px;
}

.header__brand {
  grid-column: 5/10;
  margin-left: 100px;
}

/* .header__brand__container {
  padding: 16px 5px 20px 0px;
} */

.logoHeader {
  height: 25px;
}

.header__user {
  grid-column: 11/12;
}

.header__user__container {
  /*padding: 20px 5px 26px 0px;*/
  display: flex;
}

.header__login__btn {
  width: 78px;
  height: 38px;
  background: #f1e4ff;
  border: none;
  border-radius: 3px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin: 0 14px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #ff385c;
}

.header__login__btn:hover {
  background-color: #ff385c;
  font-size: 14px;
  color: #f1e4ff;
  cursor: pointer;
  /*border-radius: 8px;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header__signup__btn {
  width: 78px;
  height: 38px;
  background: #ff385c;
  border: none;
  border-radius: 3px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #f8f8f8;
}

.header__signup__btn:hover {
  background-color: #f1e4ff;
  color: #ff385c;
  font-size: 14px;
  cursor: pointer;
  /*border-radius: 8px;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
