.box {
  display: grid;
}

.left-bg {
  grid-column: 1;
  grid-row: 1;
  width: 50%;
}

.login__card {
  grid-column: 2;
  grid-row: 1;
  width: 50%;
  height: 100%;
  display: flex;
  width: 490px;
  align-items: center;
  flex-direction: column;
  /*outline: 2px solid green;*/
}

.login__input {
  /*width: 457px;*/
  /*height: 60px;*/
  /*left: 883px;*/
  /*top: 330.25px;*/

  /*border: 1px solid #cecece;*/
  /*box-sizing: border-box;*/
  /*border-radius: 6px;*/
}

.psswrd__input {
}
