.box {
  display: grid;
}

.left_bg {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 772px;
}

.logoLogin {
  /*position: absolute;*/
  /*width: 200px;*/
  height: 25px;
  margin-bottom: 20px;
  /*left: 50px;*/
  /*bottom: 180px;*/
  /*padding: 120px 80px;*/
  /*outline: 2px solid red;*/
}
.logoLogin:hover {
  cursor: pointer;
}

.login__card {
  margin-top: -100px;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.usernameTitle {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: Inter;
  color: #8e8e8e;
}

.login__input {
  width: 337px;
  height: 50px;
  border: 1px solid #cecece;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 10px;
  color: #8e8e8e;
}

.psw__input {
  width: 337px;
  height: 50px;
  border: 1px solid #cecece;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 0 10px;
  color: #8e8e8e;
}

.loginButton {
  width: 337px;
  height: 50px;
  padding: 0;
  margin: 25px 0 0 0;
  background-color: #ff385c;
  border: 2px solid #ff385c;
  font-size: 18px;
  font-weight: 600;
  font-family: Inter;
  color: white;
}

.forgot_register {
  width: 357px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: -20px;
  /*outline: 2px solid green;*/
}

.accountRegister {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 18px;
}

.register_link {
  color: #ff385c;

  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
}

.register_link:hover {
  cursor: pointer;
}
