.logo1 {
  max-width: 200px;
  max-height: 50px;
  margin-left: 80px;
  padding: 0.5px;
}

.notificon {
  width: 20px;
  height: 20px;
  top: 22px;
  right: 300px;
  position: absolute;
}

.tableboxbackgorund {
  background-color: #e5e5e5;
  height: 1200px;
}

.garisvertical {
  position: absolute;
  border-left: 1.4px solid #808080;
  right: 280px;
  margin-top: 15px;
  height: 30px;
}

.namajones {
  position: absolute;
  font-size: 14px;
  right: 150px;
  margin-top: 10px;
}

.rounded-circle {
  position: absolute;
  right: 70px;
  margin-top: 0px;
}

.tableboxpage {
  position: absolute;
  right: 50px;
  top: 120px;
  bottom: 0px;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  box-sizing: border-box;
  border-radius: 8px;
  width: 900px;
  height: 950px;
  padding: 10px;
  margin-top: -25px;
}

.order {
  position: absolute;
  left: 95px;
  top: 30px;
  font-weight: bold;
  font-size: 24px;
  color: #4a4a4a;
}

.sorticon1 {
  width: 15px;
  height: 15px;
  margin-left: 700px;
  margin-top: 35px;
}

.sort1 {
  position: absolute;
  right: 140px;
  top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #4b506d;
}

.filtericon1 {
  width: 15px;
  height: 15px;
  margin-left: 780px;
  margin-top: -45px;
}

.filter1 {
  position: absolute;
  right: 50px;
  top: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #4b506d;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid #ff385c;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ff385c;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  font-weight: 500;
  width: 170px;
  text-align: center;
  margin-left: 90px;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}

.dd-button:hover {
  background-color: #ff385c;
  color: whitesmoke;
  font-weight: 500;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  list-style-type: none;
  margin-left: 90px;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
}

.dd-menu li:hover {
  background-color: #ff385c;
  color: whitesmoke;
  font-weight: 500;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.button13 {
  left: 300px;
  top: 82px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;

  position: absolute;
  width: 98px;
  height: 50px;
  font-size: 14px;
  background-color: #ff385c;

  font-size: 14px;
  color: whitesmoke;
  font-weight: 600;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 6px;
}

.form-control5 {
  position: absolute;
  width: 180px;
  height: 40px;

  border: 1px solid #b6b6b6;
  box-sizing: border-box;
  border-radius: 6px;
  right: 30px;
  margin-top: -50px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0 30px;
  margin-top: 60px;
  text-align: center;
  table-layout: fixed;
}

td {
  height: 80px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.tablerow2 {
  position: inline-block;
  font-size: 14px;
  left: 20;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.2px;
  color: #9fa2b4;
  width: 140px;
  text-align: center;
  border-spacing: 0 500px;
}

.ordercode {
  width: 245px;
  position: absolute;
  left: 0px;
}

.tripdetail2 {
  width: 255px;
  position: absolute;
  left: 200px;
}

.orderdate {
  width: 150px;
  position: absolute;
  left: 450px;
}

.status {
  width: 180px;
  position: absolute;
  left: 580px;
}
.price {
  width: 190px;
  position: absolute;
  left: 700px;
}

.action {
  width: 150px;
  position: absolute;
  left: 740px;
}

.form-check1 {
  position: absolute;
  left: 20px;
  top: 290px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-indent: 25px;
  letter-spacing: 0.2px;
  color: #252733;
}

.photogaleri5 {
  position: absolute;
  border-radius: 30px;
  left: 290px;
  margin-top: 70px;
}

.bromotrip2 {
  position: absolute;
  left: 340px;
  top: 290px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.tanggal5 {
  position: absolute;
  left: 480px;
  top: 290px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.p9 {
  position: absolute;
  left: 480px;
  margin-top: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}

.button14 {
  margin-left: 620px;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 12px;

  position: absolute;
  width: 89px;
  height: 14px;
  font-size: 11px;
  background-color: #2bf14b !important;

  color: white;
  font-weight: 600;
  border: 1px solid #2bf14b;
  box-sizing: border-box;
  border-radius: 100px;
}

.biaya5 {
  position: absolute;
  left: 750px;
  top: 290px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.garis5 {
  margin-top: 130px;
  size: 0.1px;
}

.form-check2 {
  position: absolute;
  left: 20px;
  top: 420px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-indent: 25px;
  letter-spacing: 0.2px;
  color: #252733;
}

.photogaleri6 {
  position: absolute;
  border-radius: 30px;
  left: 290px;
  margin-top: 30px;
}

.semeru2 {
  position: absolute;
  left: 340px;
  top: 420px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.tanggal6 {
  position: absolute;
  left: 480px;
  top: 420px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.p10 {
  position: absolute;
  left: 480px;
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}

.button15 {
  margin-left: 620px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 12px;

  position: absolute;
  width: 89px;
  height: 14px;
  font-size: 11px;
  background-color: #ff385c !important;

  color: white;
  font-weight: 600;
  border: 1px solid #ff385c;
  box-sizing: border-box;
  border-radius: 100px;
}

.biaya6 {
  position: absolute;
  left: 750px;
  top: 420px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.garis6 {
  margin-top: 100px;
  size: 0.1px;
}

.form-check3 {
  position: absolute;
  left: 20px;
  top: 560px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-indent: 25px;
  letter-spacing: 0.2px;
  color: #252733;
}

.photogaleri7 {
  position: absolute;
  border-radius: 30px;
  left: 290px;
  margin-top: 30px;
}

.gunungsumbing2 {
  position: absolute;
  left: 340px;
  top: 560px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.tanggal7 {
  position: absolute;
  left: 480px;
  top: 560px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.p11 {
  position: absolute;
  left: 480px;
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}

.button16 {
  margin-left: 620px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 12px;

  position: absolute;
  width: 120px;
  height: 20px;
  font-size: 10px;
  background-color: #666666 !important;

  color: white;
  font-weight: 600;
  border: 1px solid #666666;
  box-sizing: border-box;
  border-radius: 100px;
}

.biaya7 {
  position: absolute;
  left: 750px;
  top: 560px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.garis7 {
  margin-top: 100px;
  size: 0.1px;
}

.form-check4 {
  position: absolute;
  left: 20px;
  top: 700px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-indent: 25px;
  letter-spacing: 0.2px;
  color: #252733;
}

.photogaleri8 {
  position: absolute;
  border-radius: 30px;
  left: 290px;
  margin-top: 30px;
}

.bukitpergasingan2 {
  position: absolute;
  left: 340px;
  top: 700px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.tanggal8 {
  position: absolute;
  left: 480px;
  top: 700px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.p12 {
  position: absolute;
  left: 480px;
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}

.button17 {
  margin-left: 620px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 12px;

  position: absolute;
  width: 89px;
  height: 14px;
  font-size: 11px;
  background-color: #2bf14b !important;

  color: white;
  font-weight: 600;
  border: 1px solid #2bf14b;
  box-sizing: border-box;
  border-radius: 100px;
}

.biaya8 {
  position: absolute;
  left: 750px;
  top: 700px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #252733;
}

.garis8 {
  margin-top: 100px;
  size: 0.1px;
}

.p13 {
  position: absolute;
  left: 480px;
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #c5c7cd;
}
.selectpicker {
  width: 27px;
  height: 25px;
  font-size: 12px;
  margin-left: 570px;
  margin-top: 45px;
  position: absolute;
}

.pagination {
  margin-left: 680px;
  margin-top: 55px;
}
