.regispage__background {
  width: 100%;
  height: 800px;
  background-image: linear-gradient(rgba(0, 1, 0, 0.459), rgba(0, 0, 0, 0.507)),
    url("../assets/picture/regisbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.line {
  margin-left: -15px;
  margin-top: 65px;
  width: 490px;
  border: 1px solid #d8d8d8;
}

.regis__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 500px;
  height: 450px;

  display: flex;
  margin-top: 120px;
  margin-left: 110px;

  padding: 10px 0 10px 15px;
  border-top: solid 6px #ff385c;
  background-color: white;

  font-size: 28px;
}

.regis__card p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;

  color: #4a4a4a;
  margin: 50px 0 0 15px;
}

.regisUser__btn {
  width: 440px;
  height: 60px;
  margin: 55px 0 0 15px;

  background: #ff385c;
  border-radius: 6px;
  border: none;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: white;
}

.regisUser__btn:hover {
  font-size: 20px;
  cursor: pointer;
}

.regisHoster__btn {
  position: absolute;
  width: 441.5px;
  height: 60px;
  left: 142px;
  top: 460px;

  background: #ff385c;
  border-radius: 6px;
  border: none;

  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  color: white;
}

.regisHoster__btn:hover {
  font-size: 20px;
  cursor: pointer;
}
