.sdk {
  /* display: grid; */
  margin-bottom: 50px;
}

.penampungSDK {
  display: flex;
  flex-direction: column;
  margin-left: 110px;
}
.h6SK1 {
  /* position: absolute; */
  left: 120px;
  top: 200px;
  font-weight: 600;
  font-size: 24px;
  color: #9f9f9f;
}

.h6SK2 {
  /* position: absolute; */
  left: 420px;
  top: 200px;
  font-weight: 600;
  font-size: 24px;
  color: #ff385c;
}

.h6SK3 {
  /*position: absolute;*/
  left: 750px;
  top: 200px;
  font-weight: 600;
  font-size: 24px;
  color: #9f9f9f;
}

.garis1 {
  width: 1200px;
  /* margin-top: -30px; */
  margin-left: 105px;
}

.h2SK1 {
  /*position: absolute;*/
  width: 201px;
  height: 29px;
  /*margin-left: 105px;*/
  margin-top: 30px;
  font-weight: 500;
  font-size: 24px;
  color: #4a4a4a;
}

.ul-first {
  list-style: none;
  padding: 0;
}

.ul-second {
  list-style: none;
}

.li-sdk {
  /*position: relative;*/
  /*top: 80px;*/
  /*left: 90px;*/
  margin-left: 20px;
  color: #4a4a4a;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
}

.li-sdk-second {
  /*position: relative;*/
  margin-left: -10px;
  color: #4a4a4a;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
}

.li-sdk:before {
  content: "\2022";
  color: #ff385c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  /*position: absolute;*/
  /*top: 6px;*/
  /*margin: 8px 0 0 -12px;*/
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  /*width: 6px;*/
  /*height: 6px;*/
  /*background: #ff385c;*/
  /*content: "";*/
}

.li-sdk-second:before {
  content: "\2022";
  color: #ff385c;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  /*position: absolute;*/
  /*top: 6px;*/
  /*margin: 8px 0 0 -12px;*/
  /*vertical-align: middle;*/
  /*display: inline-block;*/
  /*width: 6px;*/
  /*height: 6px;*/
  /*background: #ff385c;*/
  /*content: "";*/
}

.h2SK2 {
  /*position: absolute;*/
  /*margin-left: 105px;*/
  top: 1640px;
  font-weight: 500;
  font-size: 24px;
  color: #4a4a4a;
}
